<div class="card mb-5">
  <div class="card-body">
    <div class="row">
      <div class="col-12">
        <%= form_with(model: admin_event, local: true, validate: true) do |form| %>
          <div class="form-group">
            <%= form.label :image %>
            <% if admin_event.image.present? %>
              <%= image_tag(admin_event.image.url, height: 200) %>
            <% end %>
            <%= form.file_field :image, class: 'form-control', accept: 'image/*'  %>
          </div>

          <div class="form-group">
            <%= form.label :name %>
            <%= form.text_field :name, class: 'form-control' %>
          </div>

          <div class="form-group">
            <%= form.label :start_datetime %>
            <%= form.datetime_select :start_datetime, class: 'form-control', minute_step: 15 %>
          </div>

          <div class="form-group">
            <%= form.label :end_datetime %>
            <%= form.datetime_select :end_datetime, class: 'form-control', minute_step: 15 %>
          </div>

          <% unless admin_event.id.present? %>
            <div class="form-group">
              <%= form.check_box :is_live_stream %>
              <%= form.label :is_live_stream  %>
            </div>
            <div class="form-group">
              <%= form.label :event_stream_account_ids %>
              <%= form.select(:event_stream_account_ids, @stream_accounts.map { |sa| ["#{sa.name} (#{sa.provider_text})", sa.id] }, {}, multiple: true)  %>
            </div>
          <% else %>
            <div class="form-group">
              <label>Is Live stream: <%= admin_event.is_live_stream ? 'Yes' : 'No' %></label>
            </div>
          <% end %>

          <div class="form-group">
            <%= form.label :location %>
            <%= form.text_field :location, class: 'form-control' %>
          </div>

          <div class="form-group">
            <%= form.label :address %>
            <%= form.text_area :address, class: 'form-control', style: 'resize: none' %>
          </div>

          <div class="form-group">
            <%= form.label :description %>
            <%= form.text_area :description, class: 'form-control' %>
          </div>

          <div class="form-group">
            <%= form.label :link %>
            <%= form.text_field :link, class: 'form-control' %>
          </div>

          <div class="form-group mb-0">
            <%= form.check_box :published %>
            <%= form.label :published %>
          </div>

          <div class="actions">
            <%= form.submit 'Save', class: 'btn btn-primary' %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
